apiVersion: v1
kind: Secret
metadata:
  name: gitlab-external
  namespace: {{ gitlab_namespace }}
type: Opaque
data:
  postgres-password: {{ secrets.gitlab_db | b64encode }}
  gitaly-token: {{ secrets.praefect | b64encode }}
  shell-token: {{ secrets.shell | b64encode }}
  root-password: {{ secrets.root | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-private-ca
  namespace: {{ gitlab_namespace }}
type: Opaque
data:
  gitaly-ca.crt: {{ lookup('file', backend_pki_dir ~ '/ca.crt') | b64encode }}
  postgres-ca.crt: {{ postgres.main.ca | b64encode }}
  gitlab-public.crt: {{ lookup('file', public_tls_certificate_file) | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-public-tls
  namespace: {{ gitlab_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('file', public_tls_certificate_file) | b64encode }}
  tls.key: {{ lookup('file', public_tls_private_key_file) | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-object-storage
  namespace: {{ gitlab_namespace }}
type: Opaque
stringData:
  connection: |
    provider: AWS
    region: {{ oci_region }}
    aws_access_key_id: {{ object_storage.access_key | to_json }}
    aws_secret_access_key: {{ object_storage.secret_key | to_json }}
    endpoint: {{ object_storage.endpoint | to_json }}
    path_style: true
    aws_signature_version: 4
    enable_signature_v4_streaming: false
  registry: |
    s3_v2:
      region: {{ oci_region }}
      regionendpoint: {{ object_storage.endpoint | to_json }}
      bucket: {{ object_storage.buckets.registry }}
      accesskey: {{ object_storage.access_key | to_json }}
      secretkey: {{ object_storage.secret_key | to_json }}
      pathstyle: true
      checksum_disabled: true
      secure: true
    redirect:
      disable: true
  s3cfg: |
    [default]
    access_key = {{ object_storage.access_key }}
    secret_key = {{ object_storage.secret_key }}
    host_base = {{ object_storage.host }}
    host_bucket = {{ object_storage.host }}
    bucket_location = {{ oci_region }}
    use_https = True
    signature_v2 = False
